/* reset some default styles and provide a clean sheet */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Apply a simple and eloquent font to the entire page */

body {
    font-family: 'Ariel', sans-serif;
}

/* Add a subtle background color and center content*/

html, body{
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style links with a diffrent color and remove underlines */
a {
    text-decoration: none;
    color: #007BFF;
}

/* create a responsive, center container */

.container {
  background: #000000;
  margin: 20px;
  padding: 25px;
  width: 350px;
  border-radius: 15px;
}

.wrapper {
    margin: 10px 20px;
}

/* style buttons with a modern look */
 button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
 }

 button:hover {
    background-color: #56B300;
 }

 /* Add responsive design for mobile devices*/

 @media (max-width: 768px){
    .container{
        padding: 10px;
    }
    button {
        padding: 8px 16px;
    }
 }

 /* Add highlight to important  element with a soft shadow*/

 .highligh {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
 }



 /* Calculator buttons styling */


 .calc-text {
    margin-bottom: 20px;
    padding-left: 5px;
  }
  
  .calc-text p {
    width: 100%;
    font-size: 3.5rem;
    text-align: end;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
  }


  button {
    background: #333333;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 70%;
    cursor: pointer;
    height: 65px;
    width: 65px;
  }
  
  button:active,
  button:focus {
    filter: brightness(120%);
  }
  
  .calc-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
  }
  
  .key-zero {
    grid-column: span 2;
    width: 100%;
    border-radius: 30px;
  }
  
  .key-operate {
    background: #ff9501;
  }
  
  .key-others {
    background: #a6a6a6;
    color: #000000;
  }